{% extends "layout.html" %}
{% block content %}
<div class="card p-4">
    <h3>Modifica Multipla per {{ articoli|length }} Articoli</h3>
    <hr>
    <form method="post">
        <div class="row g-3">
            {% for field in articoli[0].__table__.columns if field.name not in ['id'] %}
            <div class="col-md-4">
                <label class="form-check-label mb-1">{{ field.name.replace('_', ' ').title() }}</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" name="update_{{ field.name }}">
                    </div>
                    <input type="{{ 'date' if 'data' in field.name else 'text' }}" class="form-control" name="{{ field.name }}">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Applica Modifiche</button>
            <a href="{{ url_for('visualizza_giacenze') }}" class="btn btn-secondary">Annulla</a>
        </div>
    </form>
</div>
{% endblock %}
