{% extends "layout.html" %}
{% block content %}
<div class="card p-4 mx-auto" style="max-width: 600px;">
    <h3>Crea Etichetta Manuale</h3>
    <hr>
    <form method="POST">
        <div class="row g-3">
            <div class="col-12"><input type="text" name="riga_1" class="form-control" placeholder="Riga 1..."></div>
            <div class="col-12"><input type="text" name="riga_2" class="form-control" placeholder="Riga 2..."></div>
            <div class="col-12"><input type="text" name="riga_3" class="form-control" placeholder="Riga 3..."></div>
            <div class="col-12"><input type="text" name="riga_4" class="form-control" placeholder="Riga 4..."></div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary" formaction="{{ url_for('etichetta_manuale') }}">Genera e Scarica</button>
            <button type="submit" class="btn btn-info" formaction="{{ url_for('etichetta_preview') }}" formtarget="_blank">Anteprima Etichetta</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Annulla</a>
        </div>
    </form>
</div>
{% endblock %}
