{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class.card-body p-4>
                <div class="d-grid gap-3">
                    <a href="{{ url_for('add_articolo') }}" class="btn btn-primary">Aggiungi Nuovo Articolo</a>
                    <a href="{{ url_for('import_excel') }}" class="btn btn-secondary">Importa da File Excel</a>
                    <a href="{{ url_for('visualizza_giacenze') }}" class="btn btn-success">Visualizza/Filtra Giacenze</a>
                    <a href="{{ url_for('etichetta_manuale') }}" class="btn btn-secondary">Crea Etichetta Nuovo Arrivo</a>
                    <a href="{{ url_for('export_excel') }}" class="btn btn-dark">Esporta Tutto in Excel</a>
                    <a href="{{ url_for('export_by_client') }}" class="btn btn-warning">Esporta Giacenze per Cliente</a>
                    <a href="{{ url_for('calcolo_costi') }}" class="btn btn-outline-info">Calcolo Costi (in sviluppo)</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
