{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="d-grid gap-3">
                <a href="{{ url_for('add_articolo') }}" class="btn btn-primary btn-lg">Aggiungi Nuovo Articolo</a>
                <a href="{{ url_for('import_excel') }}" class="btn btn-secondary btn-lg">Importa da File Excel</a>
                <a href="{{ url_for('visualizza_giacenze') }}" class="btn btn-secondary btn-lg">Visualizza/Filtra Giacenze</a>
                <a href="{{ url_for('etichetta_manuale') }}" class="btn btn-secondary btn-lg">Crea Etichetta Nuovo Arrivo</a>
                <a href="{{ url_for('export_excel') }}" class="btn btn-secondary btn-lg">Esporta Tutto in Excel</a>
                <a href="{{ url_for('export_by_client') }}" class="btn btn-secondary btn-lg">Esporta Giacenze per Cliente</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
