{% extends "layout.html" %}

{% block content %}
<div class="card p-4">
    <h3>Modifica Multipla Articoli</h3>
    <p class="text-muted">Modifica i campi per i {{ articoli|length }} articoli selezionati. Solo i campi compilati verranno aggiornati.</p>
    <hr>
    <form method="post">
        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">
                    <input type="checkbox" name="update_posizione"> Posizione
                </label>
                <input type="text" class="form-control" name="posizione">
            </div>
            <div class="col-md-4">
                <label class="form-label">
                    <input type="checkbox" name="update_stato"> Stato
                </label>
                <input type="text" class="form-control" name="stato">
            </div>
            <div class="col-md-4">
                <label class="form-label">
                    <input type="checkbox" name="update_commessa"> Commessa
                </label>
                <input type="text" class="form-control" name="commessa">
            </div>
            <div class="col-md-4">
                <label class="form-label">
                    <input type="checkbox" name="update_n_ddt_uscita"> N. DDT Uscita
                </label>
                <input type="text" class="form-control" name="n_ddt_uscita">
            </div>
            <div class="col-md-4">
                <label class="form-label">
                    <input type="checkbox" name="update_data_uscita"> Data Uscita
                </label>
                <input type="date" class="form-control" name="data_uscita">
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Applica Modifiche</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Annulla</a>
        </div>
    </form>

    <h5 class="mt-5">Articoli Selezionati</h5>
    <ul class="list-group">
        {% for articolo in articoli %}
        <li class="list-group-item">{{ articolo.id }} - {{ articolo.descrizione }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


